@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base{
  body{
    @apply font-sans
  }
}

html{
  scroll-behavior: smooth
}

body{
  @apply bg-[rgb(11,11,11)];
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #71717a;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e7;
}

.regularBtn{
  @apply hover:cursor-pointer hover:translate-y-0.25 duration-300
}

/* Dashboard phone view */
.phoneOption{
  @apply max-sm:fixed z-10 right-0 left-0 bottom-0 max-sm:w-full
}

.phoneOptionBtns{
  @apply max-sm:text-[11px] max-sm:grid max-sm:grid-cols-4 w-full auto-rows-fr
}

.phoneOptionLinks{
  @apply text-white max-sm:border-none border flex items-center max-sm:p-0 max-sm:py-5 p-5 max-sm:m-0 m-5 rounded relative hover:bg-white hover:text-[rgb(23,23,23)] duration-300 max-sm:flex-col
}

.smallChatBox{
  @apply max-sm:w-[320px] max-sm:h-[500px]
}

.inputCombo{
  @apply flex flex-col gap-2
}